---
interface Props {
  item: {
    period: string;
    role: string;
    company: string;
    type: string;
    description: string[];
    skills: string[];
  };
  variant: 'mobile' | 'desktop-left' | 'desktop-right';
}

const { item, variant } = Astro.props;

const isMobile = variant === 'mobile';
const isLeft = variant === 'desktop-left';

const alignmentClass = isLeft ? "" : "";

const skillContainerClasses = `flex flex-wrap gap-2 ${isLeft ? '' : ''}`;
---

<div class={`bg-accent/5 border border-accent/10 p-4 md:p-6 rounded-2xl hover:border-accent/40 transition-all group ${alignmentClass}`}>
  <span class={`font-mono text-xs tracking-widest uppercase text-accent`}>{item.period}</span>
  <h3 class="text-xl font-heading font-bold text-maintext mt-1">{item.company} • {item.role}</h3>
  <span class={`font-mono text-sm text-accent/75`}>{item.type}</span>
  <div class="flex flex-col mt-1 mb-4">
    {item.description.map((desc: string) => (
      <p class="text-subtext font-body text-sm leading-relaxed">{desc}</p>
    ))}
  </div>
  <div class={skillContainerClasses}>
    {item.skills.map((skill: string) => (
      <span class={`rounded-md text-[10px] px-2 md:px-4 py-1 bg-accent/5 border border-accent/10 text-accent/80 group-hover:border-accent/40 group-hover:text-accent`}>{skill}</span>
    ))}
  </div>
</div>
